<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lores.In</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    <div class="parentContainer">
        <div class="header justifyHorizontalbtw">
            <div class="childContainer">
                <img class="logo" src="/img/loresLogo.png" alt="" srcset="">
            </div>
            <div class="childContainer alignRight">
                <a href="/login"><button class="btn">Get Started</button></a>
            </div>
        </div>
        <div class="subHeader alignCenter">
            <div class="mainImage">
                <img class="mainHeaderImage" src="/img/head.png" alt="" srcset="">
            </div>
            <div class="">
                <div class="">
                    <h1>Changing Education</h1>
                    <p>Education and Income Are Not Barriers Anymore</p>
                </div>
                <div class="">
                    <a href="/login"><button class="btn">Enter New World</button></a>
                </div>
            </div>
        </div>

        <div class="aligntext">
            <!-- free Courses -->
            <div class="section justifyHorizontalEven">
                <div class="">
                    <img class="displayImage" src="/img/section1Image.png" alt="">
                </div>
                <div class="">
                    <h1>Free Courses For Life</h1>
                    <p>Up skill yourself with interactive courses free for lifetime. We have digged out some the best courses on various topics and have assembled them together to make it easier and interactive.
                    </p>
                    <div class="justifyHorizontalStart">
                        <div>
                            <img class="miniImage" src="/img/nodejs.png" alt="" srcset="">
                        </div>
                        <div>
                            <img class="miniImage" src="/img/php.png" alt="" srcset="">
                        </div>
                        <div>
                            <img class="miniImage" src="/img/ps.png" alt="" srcset="">
                        </div>
                        <div>
                            <img class="miniImage" src="/img/ae.png" alt="" srcset="">
                        </div>
                        <div>
                            & many more...
                        </div>

                    </div>
                </div>
            </div>
            <hr class="solidHr">

            <!-- connect -->
            <div class="section justifyHorizontalEven">
                <div class="">
                    <img class="displayImage" src="/img/section2Image.png" alt="">
                </div>
                <div class="">
                    <h1>Team Ups & Battles</h1>
                    <p>Find like minded people, share your knowledge, learn from them. Team up for future battles and paid projects.
                    </p>
                    <div class="justifyHorizontalStart">
                        <div>
                            <img class="miniImage" src="/img/team.svg" alt="" srcset="">
                        </div>
                        <div>
                            <img class="miniImage" src="/img/student.svg" alt="" srcset="">
                        </div>
                        <div>
                            <img class="miniImage" src="/img/star.svg" alt="" srcset="">
                        </div>
                        <div>
                            create & compete
                        </div>

                    </div>
                </div>
            </div>
            <hr class="solidHr">


            <!-- market Place -->
            <div class="section justifyHorizontalEven">
                <div class="">
                    <img class="displayImage" src="/img/section3Image.png" alt="">
                </div>
                <div class="">
                    <h1>Lores Marketplace</h1>
                    <ul>
                        <li>Buy & Sell Artworks or Codes</li>
                        <li>Lores Points will be the currency</li>
                        <li>Earn Lores points by engaging in the platform</li>
                    </ul>
                    <div class="justifyHorizontalStart">
                        <div>
                            <img class="miniImage" src="/img/picture.svg" alt="" srcset="">
                        </div>
                        <div>
                            <img class="miniImage" src="/img/code.svg" alt="" srcset="">
                        </div>
                        <div class="">
                            <img class="miniImage" src="/img/template.svg" alt="" srcset="">
                        </div>
                        <div>
                            <img class="miniImage" src="/img/lp.svg" alt="" srcset="">
                        </div>
                        <div>
                            Lores Points
                        </div>

                    </div>
                </div>
            </div>
            <hr class="solidHr">


            <!-- creator panel -->
            <div class="section justifyHorizontalEven">
                <div class="">
                    <img class="displayImage" src="/img/section4Image.png" alt="">
                </div>
                <div class="">
                    <h1>Creators Panel</h1>
                    <ul>
                        <li>Earn 10k Lores Points & enjoy royalty</li>
                        <li>Get Verified & redirect traffic</li>
                        <li>Create courses and Start Earning</li>
                        <li>Integrate with brands</li>
                    </ul>
                </div>
            </div>
            <hr class="solidHr">


            <!-- Freelancing -->
            <div class="section justifyHorizontalEven">
                <div class="">
                    <img class="displayImage" src="/img/section5Image.png" alt="">
                </div>
                <div class="">
                    <h1>Earn via Freelancing</h1>
                    <ul>
                        <li>Get Hired from buisnesses</li>
                        <li>Work individually or with team</li>
                        <li>Explore endless Possibilities</li>
                    </ul>
                    <div class="justifyHorizontalStart">
                        <div>
                            <img class="miniImage" src="/img/freelance.svg" alt="" srcset="">
                        </div>
                        <div>
                            <img class="miniImage" src="/img/meeting.svg" alt="" srcset="">
                        </div>
                        <div>
                            Get Paid
                        </div>
                    </div>
                </div>
            </div>
            <hr class="solidHr">


        </div>
    </div>
</body>

</html>