.imgContainer img {
    height: 15rem;
    width: 100%;
}


/* profile css */

.profileImage {
    width: 15rem;
    border-radius: 50%;
}

.itemImage {
    height: 17rem;
}

.likeButton{
    border: none;
    background: none;
    color: blue;
    box-shadow: none;
    outline: none;
    margin: 0 5px;
}

.likedButton{
    border: none;
    background: none;
    color: red;
    box-shadow: none;
    outline: none;
    margin: 0 5px;
}